@import "../styles/main.css";

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

hr {
    margin: 0;
}


h2 {
    font-weight: 600;
    font-size: 1.5em;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 4fr;
    /* column-gap: 1px; */
    height: 100vh;
}

.sideBar {
    background: #fff;
    border-right: 1px solid #e5e5e5;
}


.container-flex {
    display: flex;
}

.header {
    min-height: 60px;
    padding: 0.5em;
    background: #5177CD;
    color: #fff;
}

.chat-blob {
    background: #67AAF9;
    color: #fff;
    border-radius: 1.7em;
    font-size: 1em;
    padding: 0.7em;
}

.chat-blob {
    margin: 0 0 0.5em 0;
}

.a-s-center {
    align-self: center;
}

.input-container {
    background: #fff;
    height: 60px;
}

.padding-sm {
    padding: 0.5em
}

.padding-md {
    padding: 0.75em;
}

.padding-lg {
    padding: 1em;
}

.padding-xl {
    padding: 1.5em;
}

.padding-xxl {
    padding: 2em;
}

input {
    padding: 1rem;
    font-size: 1rem;
    outline: none;

}

textarea {
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
}

textarea {
    resize: none;
}

.chat-container {
    overflow: auto;
}

.send-button {
    color: #5177CD;
}

.list-item {
    border-bottom: 1px solid #e5e5e5;
}

.list {
    overflow: auto;
}

.thin-border {
    border: 1px solid #e5e5e5;
}

.border-r-sm {
    border-radius: 0.5em;
}